:root {
  --color-heading: #ededed;
  --color-background: #f0ebcc;
  --color-container: #ff616d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: var(--color-background);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
}
.overall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container {
  display: flex;
  gap: 50px;
  padding: 2.5rem;
  margin: 5rem 4rem;
  flex-wrap: wrap;
}
.name {
  font-size: 30px;
  text-align: center;
  color: var(--color-heading);
}
.inner {
  display: flex;
  flex-direction: column;
  width: 250px;
}
.weather {
  background-color: var(--color-container);
  box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  width: 100%;
  color: var(--color-heading);
}
.weather__row {
  align-self: center;
  font-size: 2rem;
  word-wrap: break-word;
}
.heading {
  color: var(--color-heading);
}
.icon {
  width: 10rem;
  height: 10rem;
}
.sun {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-container);
  padding: 1rem 1.5rem;
  color: var(--color-heading);
}
.sun__row {
  align-self: center;
  font-size: 1.5rem;
  color: var(--color-heading);
  padding: 0.5rem 1rem;
}
.sun__value {
  font-weight: 600;
}
.climate {
  height: 35.5rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-container);
  color: var(--color-heading);
}
.climate__heading {
  font-size: 2rem;
  align-self: center;
  padding: 1rem 1.5rem;
}
.climate__row {
  align-self: flex-start;
  font-size: 1.5rem;
  padding: 1.4rem 1rem;
}

.climate__value {
  font-weight: 600;
}
.wind {
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  background-color: var(--color-container);
  height: 35.5rem;
  color: var(--color-heading);
}
.wind__heading {
  align-self: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.wind__row {
  align-self: flex-start;
  font-size: 1.5rem;
  padding: 1.4rem 1rem;
}
.wind__value {
  font-weight: 600;
}
.sidebar {
  width: 400px;
  background-color: var(--color-container);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* scrollbar-color: red yellow; */
}
.search__climate {
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  align-self: center;
  color: var(--color-container);
}
.search__climate {
  outline: none;
}
.countries {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: flex-start; */
  align-content: flex-start;
  cursor: pointer;
  padding: 1rem 2rem;
  border-bottom: solid 1px rgb(231, 199, 195);
  color: var(--color-heading);
}

.flag {
  width: 4rem;
  height: 4rem;
  margin-right: 3rem;
  /* border-radius: 50%; */
}

.countries1 {
  font-size: 1.3rem;
  opacity: 1;
  margin: 1px;
  transition: opacity 1s;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  /* width: 240px; */
  width: 100%;
  cursor: pointer;
  color: var(--color-heading);
}
.country__name {
  font-size: 2rem;
  align-self: center;
  font-weight: 600;
  color: var(--color-heading);
}
.country__img1 {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data1 {
  padding: 0.5rem 3.75rem 0.2rem 3.75rem;
}
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-heading);
}
.twitter-link:link,
.twitter-link:visited {
  color: var(--color-heading);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: #777;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff5eb;
}

::-webkit-scrollbar-thumb {
  border-radius: 150px;
  background-color: var(--color-container);
}
.next {
  background-color: transparent;
  color: var(--color-heading);
  border: none;
  border: solid 1px var(--color-background);
  align-self: center;
  cursor: pointer;
}
.next:hover {
  background-color: var(--color-heading);
  color: var(--color-container);
}
